*.o
/stamp-test-interactive
/test-actor-clone
/test-actors
/test-behave
/test-boxes
/test-depth
/test-effects
/test-events
/test-fbo
/test-fullscreen
/test-grab
/test-model
/test-multistage
/test-offscreen
/test-opacity
/test-perspective
/test-project
/test-rotate
/test-scale
/test-score
/test-script
/test-shader
/test-text
/test-textures
/test-threads
/test-timeline
/test-timeline-dup-frames
/test-timeline-interpolate
/test-timeline-rewind
/test-timeline-smoothness
/test-unproject
/test-viewport
/test-cogl-multitexture
/test-cogl-offscreen
/test-cogl-primitives
/test-cogl-tex-convert
/test-cogl-tex-foreign
/test-cogl-tex-getset
/test-cogl-tex-polygon
/test-cogl-tex-tile
/test-cogl-vertex-buffer
/test-pixmap
/test-stage-read-pixels
/test-clip
/test-layout
/test-random-text
/test-texture-async
/test-texture-quality
/test-paint-wrapper
/test-devices
/test-label-cache
/test-pick
/test-animation
/test-easing
/test-interactive
/test-binding-pool
/test-text-field
/test-clutter-cairo-flowers
/test-bin-layout
/test-flow-layout
/test-box-layout
/test-animator
/test-stage-sizing
/test-drag
/test-constraints
/test-state
/test-state-animator
/test-scrolling
/test-bind
