INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
clutter-*.pc
clutter.pc
.deps
.libs
*.lo
*.la
clutter/clutter-enum-types.[ch]
clutter/clutter-marshal.[ch]
clutter/clutter-version.h
clutter/stamp-*
cogl-defines.h
config.*
configure
depcomp
doc/manual/clutter-manual.xml
doc/reference/clutter-*.txt
doc/reference/html
doc/reference/tmpl
doc/reference/xml
doc/reference/version.xml
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
tests/*.o
tests/test-actors
tests/test-behave
tests/test-boxes
tests/test-depth
tests/test-effects
tests/test-entry
tests/test-events
tests/test-fbo
tests/test-fullscreen
tests/test-grab
tests/test-model
tests/test-multistage
tests/test-offscreen
tests/test-opacity
tests/test-perspective
tests/test-project
tests/test-rotate
tests/test-scale
tests/test-score
tests/test-script
tests/test-shader
tests/test-text
tests/test-textures
tests/test-threads
tests/test-timeline
tests/test-timeline-dup-frames
tests/test-timeline-interpolate
tests/test-timeline-rewind
tests/test-timeline-smoothness
tests/test-unproject
tests/test-viewport
