[submodule "src/gvc"]
	path = src/gvc
	url = git://git.gnome.org/libgnome-volume-control
[submodule "data/theme/gnome-shell-sass"]
	path = data/theme/gnome-shell-sass
	url = git://git.gnome.org/gnome-shell-sass
