[submodule "data/theme/gnome-shell-sass"]
	path = data/theme/gnome-shell-sass
	url = git://git.gnome.org/gnome-shell-sass
[submodule "subprojects/gvc"]
	path = subprojects/gvc
	url = git://git.gnome.org/libgnome-volume-control
