.details-button image {
  transition: 250ms;
}
.details-button.expanded:dir(ltr) image {
  -gtk-icon-transform: rotate(0.25turn);
}
.details-button.expanded:dir(rtl) image {
  -gtk-icon-transform: rotate(-0.25turn);
}

image.warning { color: @warning_color; }

.expander-frame > * { border-top-width: 0; }
.expander-toolbar { border: 0 solid @borders; border-top-width: 1px; }
