// Endless-specific overrides and definitions
//
// All the definitions here will be processed AFTER _common.scss and other SASS
// source files, meaning that they will override the relevant rules in the
// generated CSS files, just as doing it in "raw" CSS would do.
//
// However, be aware that overriding here the values of SASS variables defined in
// those other files won't override the end result for rules already declared in
// those files as well, which will still be using the original value as they are
// pre-processed before _endless.css. In those cases, modifying those files directly
// is probably the best way forward (e.g. modifying _common.css for $font-family)).


// Lock screen

#lockDialogGroup {
  background: #12282e;
}

// Force Apps dialog

.force-app-exit-dialog {
    max-height: 500px;
    min-height: 450px;
    min-width: 470px;
    border: 1px solid rgba(238, 238, 236, 0.2);

    .modal-dialog-content-box {
        spacing: 20px;
        padding: 20px 17px;

        .force-app-exit-dialog-header {
            font-weight: bold;
        }

        .force-app-exit-dialog-subtitle {
            color: #ccc;
            font-size: 12pt;
            max-width: 370px;
        }

        .force-app-exit-dialog-scroll-view {
            border: 2px solid #666;
            border-radius: 6px;
            height: 288px;

            .force-app-exit-dialog-item {
                border: solid #242424;
                padding: 16px;
                spacing: 16px;
                border-bottom-width: 1px;
                &:hover { background-color: rgba(255,255,255,0.1); }
                &:selected {
                    background-color: $selected_bg_color;
                    color: $selected_fg_color;
                }
            }
        }
    }
}

// Bottom panel

#panel {
    height: 40px;

    .clock-display {
        font-size: 14px;
        font-weight: bold;
    }

    .powermenu {
        margin-left: 16px;
    }

    &.panel-button {
        -minimum-hpadding: 6px;
        -natural-hpadding: 6px;
    }
}

.popup-menu {
    .popup-menu-item.selected {
        background-color: rgba(95, 95, 95, 1.0);
    }

    &.panel-menu {
        -boxpointer-gap: 0px;
        margin-bottom: 0px;
    }
}

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-background-color: #000000;
}

popup-separator-menu-item {
  margin: 12px 0;
  padding: 0;
}

// Apps Icon Bar

#appIconBar {
    padding-left: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;

    #appIconBarContainer {
        spacing: 10px;
        min-height: 40px;

        .app-bar-nav-icon {
            icon-size: 16px;
            color: #555;
            transition-duration: 100ms;
        }

        .app-bar-nav-button {
            &:active .app-bar-nav-icon,
            &:hover:active .app-bar-nav-icon { color: #383838; }
            &:hover .app-bar-nav-icon { color: #aaa; }
        }
    }
}

.app-icon-bar {
    &.panel-button {
        -minimum-hpadding: 6px;
        -natural-hpadding: 6px;
    }
}

.app-icon-button {
    background: none;
    &:highlighted {
        background-image: url("resource:///org/gnome/shell/theme/mini-icon-active-indicator.png");
        background-position: 2px 34px;
    }
}

.app-icon-hover-label {
    -label-offset-x: 4px;
    -label-offset-y: 37px;
    font-size: 11pt;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 4px;
}

.app-icon-menu,
.panel-menu {
    -boxpointer-gap: 4px;
}

.panel-window-menu-item {
    .panel-window-menu-item-clone:indented { padding-left: 6px; }
    .panel-window-menu-item-label { max-width: 256px; }
}

.panel-window-menu-workspace-label {
    font-size: 12pt;
    font-weight: bold;
    color: #999;
}

.scrolled-icon-list {
    .scrolled-icon-spacer {
        padding-right: 10px;

        .scrolled-icon-container {
            -icon-size: 24px;
            height: 30px;
            spacing: 10px;
        }

        &:rtl { padding-left: 10px; }
    }

    &.hfade { -st-hfade-offset: 10px; }
}

// System Indicators

#panelRight {
    .panel-button {
        -natural-hpadding: 10px;
        -minimum-hpadding: 10px;

        .user-mode-indicators-box {
            padding: 6px 4px;
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(255, 255, 255, 0.08);
            border-radius: 3px;
        }

        &:hover {
            .user-mode-indicators-box {
                background-color: rgba(255, 255, 255, 0.12);
                color: white;
            }
        }

        &:clicked {
            .user-mode-indicators-box {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }

        &:active {
            .user-mode-indicators-box {
                color: white;
            }
        }
    }
}

// User Menu

.user-menu-button-icon {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    background-size: 34px;
    padding: 0px;

    &:hover {
        border-radius: 18px;
        background-size: 36px;
    }
}

.user-menu-avatar {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-color: rgba(50, 50, 50, 0.80);
    border-radius: 30px;
    border: 1px solid #000;

    &:hover {
        border: 1px solid #555;
    }
}

.user-menu-name {
    text-align: center;
    font-weight: bold;
    color: white;
}

.user-menu-items {
    margin: 6px 0px;
}

// Endless Button

%endless-button-hover {
    color: #f15a22;
    background-gradient-start: rgba(255, 255, 255, 0.12);
    transition: 300ms;
}

%endless-button-clicked {
    @extend %endless-button-hover;
    color: white;
    box-shadow: none;
}

.endless-button {
    color: rgba(255, 255, 255, 0.8);
    background-gradient-start: rgba(255, 255, 255, 0.08);
    background-gradient-end: transparent;
    background-gradient-direction: radial;
    background-gradient-position: 0 20px;
    background-gradient-radius: 65px;
    background-gradient-stop: 63px;
    height: 40px;
    width: 65px;
    padding: 0px;

    .single-icon-button { icon-size: 34px; }

    &:hover { @extend %endless-button-hover; }
    &:clicked { @extend %endless-button-clicked; }
}

// Hot Corner

#panel {
    .hot-corner {
        -minimum-hpadding: 0px;
        -natural-hpadding: 0px;
        color: #777;
        height: 40px;

        .single-icon-button {
            icon-size: 18px;
            padding: 0px;
        }

        &:hover { color: white; }
    }
}

.ripple-box {
    background-image: url("corner-ripple-tl.png");
    &:tr { background-image: url("corner-ripple-tr.png"); }
    &:bl { background-image: url("corner-ripple-bl.png"); }
    &:br { background-image: url("corner-ripple-br.png"); }
}

// Desktop Search (text entry widget)

#searchEntry {
    width: 350px;
    height: 38px;

    margin-top: 8px;
    padding: 0 12px 0 0;

    font-size: 11.5pt;

    color: #484645;
    selected-color: #ededed;
    caret-color: #333;
    background-color: rgba(255, 255, 255, 0.8);

    border-width: 0;
    border-radius: 19px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);

    -minimum-vpadding: 48px;

    .search-entry-text-hint {
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;

        font-size: 12pt;
        color: #424040;
    }

    .search-icon {
        background-gradient-start: rgba(255,95,42,0.9);
        background-gradient-end: rgba(248,63,0,0.9);
        background-gradient-direction: vertical;

        color: white;

        width: 38px;
        height: 38px;
        border-radius: 19px;

        box-shadow: inset 0 -1px 1px rgba(0,0,0,0.25);
    }

    &:hover, &:focus { background-color: rgba(255, 255, 255, 0.95); }
    &:rtl {
        padding-left: 12px;
        padding-right: 0px;
    }
}

// Discovery Feed

.discovery-feed-bar {
    background-image: url("resource:///org/gnome/shell/theme/discovery-feed-bar-normal.png");
    height: 18px;
    width: 1004px;

    &:highlighted {
        background-image: url("resource:///org/gnome/shell/theme/discovery-feed-bar-hover.png");
    }
}

.discovery-feed-tile {
    background-image: url("resource:///org/gnome/shell/theme/discovery-feed-tile-normal.png");
    height: 27px;
    width: 62px;

    &:highlighted {
        background-image: url("resource:///org/gnome/shell/theme/discovery-feed-tile-hover.png");
    }
}

// Icon Grid

%app-well-icon {
    width: 118px;
    height: 118px;
    padding: 6px 0 6px 0;
    spacing: 4px;
}

.app-well-app {
    .overview-icon { @extend %app-well-icon; }
    .overview-icon.overview-icon-with-label {
        padding: 6px;
        spacing: 6px;
        > StBoxLayout {
            padding: 0px;
            spacing: 0px;
        }
     }
 }


/* Need to declare this one outside of .app-folder for DnD */
.app-folder-icon {
    border-radius: 12px;
    background: rgba(23, 25, 26, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7);
    padding: 5px;
    spacing-rows: 5px;
    spacing-columns: 5px;
}

.app-folder,
.app-well-app.app-folder {
    background-color: transparent;

    & .overview-icon,
    &:active .overview-icon,
    &:checked .overview-icon {
        box-shadow: none;
        border-radius: 15px;
        font-weight: bold;
    }

    &:checked .app-folder-icon,
    &:selected .app-folder-icon {
        background: rgba(23, 25, 26, 0.6);
        transition-duration: 250ms;
        box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.7);
    }
}

.overview-icon-label {
    height: 46px;
    text-shadow: black 0px 2px 2px;
    border: none;
    background-color: transparent;
}

%overview-icon {
    width: 118px;
    height: 118px;
    icon-size: 64px;
    spacing: 4px;
    padding: 6px 0 6px 0;
    padding-bottom: 0px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.icon-grid {
    spacing: 10px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;

    .overview-icon {
         @extend %overview-icon;
    }
}

.folder-no-apps-label {
  text-shadow: black 0px 2px 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.overview-icon.dnd {
    @extend %overview-icon;
}

// Desktop Search (results)

%search-label-main {
    font-size: 11pt;
    font-weight: bold;
}

%search-label-color {
    color: #444444;
}

#searchResults {
    background-color: rgba(255,255,255,0.92);
    border-radius: 4px;
    padding: 10px;
    max-width: 875px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;

    .overview-icon {
        @extend %overview-icon;
        border-radius: 4px;
    }

    .overview-icon-label {
        @extend %search-label-main;
        @extend %search-label-color;
        height: 20px;
        text-shadow: none;
    }

    #searchResultsContent {
        spacing: 0px;

        .search-section {
            padding: 0px 10px;

            .search-provider-icon-label {
                @extend %search-label-main;
                @extend %search-label-color;
                text-shadow: none;
                width: 100px;
            }

            .search-provider-icon-label {
                margin-top: 6px;
            }

            .search-provider-icon {
                border-radius: 4px;
                transition-duration: 100ms;
                width: 100px;
            }

            .search-section-separator {
                -gradient-height: 1px;
                -gradient-start: rgba(208,208,208,0.9);
                -gradient-end: rgba(208,208,208,0.9);
                -margin-horizontal: 0em;
                height: 1px;
            }

            .search-section-content {
                background-color: white;
                padding-top: 5px;
                padding-bottom: 10px;
                spacing: 25px; /* space between provider icon and results container */
            }

            .icon-grid {
                spacing: 20px;
                padding-top: 10px;
                padding-bottom: 15px;
                -shell-grid-horizontal-item-size: 104px;
                -shell-grid-vertical-item-size: 104px;
            }
        }

        .list-search-results {
            spacing: 0px;

            .list-search-result {
                padding: 5px 10px 10px 10px;
                transition-duration: 100ms;

                .list-search-result-content {
                    spacing: 10px;
                    padding: 0px;
                    min-height: 32px;

                    .list-search-result-title {
                        @extend %search-label-main;
                        @extend %search-label-color;
                        font-size: 13pt;
                    }

                    .list-search-result-description {
                        @extend %search-label-color;
                    }

                    .list-search-result-arrow-icon {
                        icon-size: 16px;
                        color: transparent;
                    }
                }

                &:first-child {
                    border-radius-topright: 4px;
                    border-radius-topleft: 4px;
                }

                &:last-child {
                    border-radius-bottomright: 4px;
                    border-radius-bottomleft: 4px;
                }

                &:hover, &:focus, &:selected {
                    .list-search-result-arrow-icon { color: #444444; }
                }
            }
        }
    }

    #searchResultsCloseButton StIcon {
        @extend %search-label-color;
        icon-size: 14px;
    }

    #searchResultsCloseButton:hover StIcon {
        color: #888888;
    }

    #searchResultsCloseButton:active StIcon {
        @extend %search-label-color;
    }

    .search-display > StBoxLayout {
        padding: 0px;
    }

    .search-statustext {
        color: #242424;
        font-size: 2em;
        font-weight: bold;
    }
}

%search-result-hover { background-color: rgba(226,226,226,0.9); }
%search-result-selected { background-color: rgba(208,208,208,0.9); }
%search-result-active { background-color: rgba(192,192,192,0.9); }

.list-search-result {
    &:hover { @extend %search-result-hover; }
    &:focus, &:selected { @extend %search-result-selected; }
    &:active { @extend %search-result-active; }
}

.grid-search-result {
    border-radius: 4px;
    transition-duration: 100ms;

    &:hover { @extend %search-result-hover; }
    &:focus, &:selected { @extend %search-result-selected; }
    &:active {
        @extend %search-result-active;
        .overview-icon { box-shadow: none; }
    }
}

.search-provider-icon {
    &:hover { @extend %search-result-hover; }
    &:focus, &:selected { @extend %search-result-selected; }
    &:active { @extend %search-result-active; }
}

// Metered Data

.metered-data-switch {
  width: 48px;
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-hc.svg");
  &:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-hc.svg"); }
}

// Password Recovery & Hint

.login-dialog-password-recovery-label {
  @include fontsize($base_font_size - 1);
  font-weight: bold;
  color: darken($osd_fg_color,30%);

  .login-dialog-password-recovery-button:focus &,
  .login-dialog-password-recovery-button:hover & {
    color: $osd_fg_color;
  }
}

// Pay As You Go unlock screen (based on .login-dialog)

$success_time_payg_color: #02b842;

.unlock-dialog-payg {
  border: none;
  background-color: transparent;

  .modal-dialog-button-box { spacing: 3px; }
  .modal-dialog-button {
    padding: 3px 18px;
    &:default {
      @include button(normal,$c:$selected_bg_color);
      &:hover,&:focus { @include button(hover,$c:$selected_bg_color); }
      &:active { @include button(active,$c:$selected_bg_color); }
      &:insensitive { @include button(insensitive); }
    }
  }

  .unlock-dialog-payg-layout {
      padding-top: 24px;
      padding-bottom: 12px;
      spacing: 8px;

      .unlock-dialog-payg-title {
          color: $osd_fg_color;
          font-size: 24px;
          font-weight: bold;
          text-align: left;
          margin: 24px;
      }

      .unlock-dialog-payg-promptbox {
          spacing: 6px;
          min-width: 400px;
          max-width: 400px;
      }

      .unlock-dialog-payg-label {
          color: darken($osd_fg_color, 20%);
          font-size: 110%; // Consistent with .login-dialog-prompt-label
          padding-top: 1em;
      }

      .unlock-dialog-payg-code-entry {
          color: darken($osd_fg_color, 20%);
          font-size: 24px; // Consistent with .login-dialog-prompt-label
          padding-left: 3px;
          padding-right: 3px;
          padding-top: 0.3em;
      }

      .unlock-dialog-payg-entry {
          font-size: 24px;
          padding-left: 12px;
          padding-right: 12px;
          letter-spacing: 6px;
      }

      .unlock-dialog-payg-session-list-button {
          color: darken($osd_fg_color,30%);
          &:hover,&:focus { color: $osd_fg_color; }
          &:active { color: darken($osd_fg_color, 50%); }
      }

      .unlock-dialog-payg-message {
          color: $warning_color;
      }

      .unlock-dialog-payg-button-box {
          spacing: 5px;
      }

      .unlock-dialog-payg-help-main {
          color: $osd_fg_color;
          font-weight: bold;
          text-align: left;
          margin-top: 36px;
      }

      .unlock-dialog-payg-help-sub {
          color: $osd_fg_color;
          font-size: 100%;
          text-align: left;
      }

      .unlock-dialog-payg-account-id {
          color: $osd_fg_color;
          font-size: 100%;
          text-align: left;
          margin: 12px;
      }

      .unlock-dialog-payg-success {
          color: $success_time_payg_color;
          font-size: 24px;
          font-weight: bold;
          text-align: left;
          margin: 24px;
      }
  }
}

// Pay As You Go notifications

.notification-payg-entry {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 6px;
  margin: 5px;
}

.notification-payg-code-entry {
  text-align: center;
  font-size: 20px;
  color: darken($osd_fg_color, 20%);
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 6px;
}
