// Endless-specific overrides and definitions
//
// All the definitions here will be processed AFTER _common.scss and other SASS
// source files, meaning that they will override the relevant rules in the
// generated CSS files, just as doing it in "raw" CSS would do.
//
// However, be aware that overriding here the values of SASS variables defined in
// those other files won't override the end result for rules already declared in
// those files as well, which will still be using the original value as they are
// pre-processed before _endless.css. In those cases, modifying those files directly
// is probably the best way forward (e.g. modifying _common.css for $font-family)).


// Lock screen

#lockDialogGroup {
  background: #12282e;
}

// Force Apps dialog

.force-app-exit-dialog {
    max-height: 500px;
    min-height: 450px;
    min-width: 470px;
    border: 1px solid rgba(238, 238, 236, 0.2);

    .modal-dialog-content-box {
        spacing: 20px;
        padding: 20px 17px;

        .force-app-exit-dialog-header {
            font-weight: bold;
        }

        .force-app-exit-dialog-subtitle {
            color: #ccc;
            font-size: 12pt;
            max-width: 370px;
        }

        .force-app-exit-dialog-scroll-view {
            border: 2px solid #666;
            border-radius: 6px;
            height: 288px;

            .force-app-exit-dialog-item {
                border: solid #242424;
                padding: 16px;
                spacing: 16px;
                border-bottom-width: 1px;
                &:hover { background-color: rgba(255,255,255,0.1); }
                &:selected {
                    background-color: $selected_bg_color;
                    color: $selected_fg_color;
                }
            }
        }
    }
}

// Bottom panel

.popup-menu {
    &.panel-menu {
        -boxpointer-gap: 0px;
        margin-bottom: 0px;
    }
}
