/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

StScrollBar
{
  background-color: #354761;
  padding: 0px;
}

StScrollView
{
  scrollbar-width: 16px;
  scrollbar-height: 16px;
}

StButton#up-stepper
{
  border-image: url("scroll-button-up.png") 5;
}

StButton#up-stepper:hover,
StButton#up-stepper:active
{
  border-image: url("scroll-button-up-hover.png") 5;
}

StButton#down-stepper
{
  border-image: url("scroll-button-down.png") 5;
}

StButton#down-stepper:hover,
StButton#down-stepper:active
{
  border-image: url("scroll-button-down-hover.png") 5;
}

StScrollBar StButton#vhandle
{
  border-image: url("scroll-vhandle.png") 5;
}

StScrollBar StButton#vhandle:hover
{
  border-image: url("scroll-vhandle.png") 5;
}

/* Panel */

.panel-button {
    padding: 4px 12px 3px;
    border-radius: 5px;
    font: 16px sans-serif;
    color: white;
}

.panel-button:active, .panel-button:checked {
    background-color: #314a6c;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 1px solid rgba(0,0,172,0.85);
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog StLabel
{
  color: #88ff66;
}

#LookingGlassDialog StEntry
{
  color: #88ff66;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

/* Calendar popup */

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: white;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    spacing-rows: 5px;
    spacing-columns: 3px;
}

.calendar-change-month {
    padding: 2px;
}

.calendar-change-month:hover {
    background: #314a6c;
    border-radius: 5px;
}

.calendar-change-month:active {
    background: #213050;
    border-radius: 5px;
}

.calendar-day {
    padding: 1px 2px;
}

.calendar-today {
    font-weight: bold;
    background: #ffffff;
    color: black;
    border-radius: 5px;
}

.calendar-other-month-day {
    color: #cccccc;
}

/* App Switcher */
.switcher-list {
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(128,128,128,0.40);
    border-radius: 8px;
    padding: 18px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 4px;
}

.switcher-list .selected-item-box {
    padding: 8px;
    border-radius: 4px;
    background: rgba(255,255,255,0.33);
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}
