@import "gnome-shell-sass/_high-contrast-colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";

//force symbolic icons
stage {
  -st-icon-style: symbolic;
}

.toggle-switch {
  background: lighten($bg_color, 30%);
  .switch-handle { background-color: #FFF; }
}
