$variant: 'dark';

@import "gnome-shell-sass/_high-contrast-colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

//force symbolic icons
stage {
	-st-icon-style: symbolic;
}

.toggle-switch {
  background: lighten($bg_color, 30%);
  .handle { background-color: #FFF; }
}
