@import "../../data/theme/gnome-shell.css";

stage {
    font: 16pt serif;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.big {
    font-size: 150%;
}

.monospace {
    font-family: monospace;
}

.border-image {
    border: 15px;
    border-image: url('border-image.png') 16;
}

NbtkButton {
    background: #eeddbb;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

NbtkButton:hover {
    background: #ffeecc;
}

NbtkButton:active {
    background: #ccbb99;
}
