[Unit]
Description=Disable GNOME Shell extensions after failure
# Note that this unit must not conflict with anything, and must
# be able to run in parallel with the gnome-session-shutdown.target.
DefaultDependencies=no

# We want to disable extensions only in the first two minutes of the session.
# To do so, we can check that the gnome-shell-stable file does not exist,
# which is created by gnome-shell after two minutes (and deleted at startup).
ConditionPathExists=!%t/gnome-shell-stable

[Service]
Type=simple
# Disable extensions
ExecStart=gsettings set org.gnome.shell disable-user-extensions true
Restart=no
