[Unit]
Description=GNOME Shell on X11
DefaultDependencies=no

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

Requires=gnome-shell-x11.service
After=gnome-shell-x11.service
