[Unit]
Description=GNOME Shell
DefaultDependencies=no
CollectMode=inactive-or-failed

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

# Pull in both x11 and wayland, one of them will fail due to dependencies.
Wants=gnome-shell-wayland.service
Wants=gnome-shell-x11.service

PartOf=gnome-shell-wayland.service
PartOf=gnome-shell-x11.service

After=gnome-shell-wayland.service
After=gnome-shell-x11.service
