[Unit]
Description=GNOME Shell on X11
DefaultDependencies=no

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

Requires=org.gnome.Shell-x11.service
After=org.gnome.Shell-x11.service
