*.o
/stamp-test-conformance
/test-anchors
/test-cogl-backface-culling
/test-cogl-blend-strings
/test-cogl-fixed
/test-cogl-materials
/test-cogl-npot-texture
/test-cogl-offscreen
/test-cogl-pixel-buffer
/test-cogl-premult
/test-cogl-texture-pixmap-x11
/test-color-hls-roundtrip
/test-conformance
/test-conformance-results.xml
/test-conformance-results.html
/test-conformance-results-dn.xml
/test-conformance-results-dn.html
/test-entry-append-some
/test-entry-cursor
/test-entry-delete-chars
/test-entry-delete-text
/test-entry-empty
/test-entry-event
/test-entry-insert
/test-entry-prepend-some
/test-entry-set-empty
/test-entry-set-text
/test-entry-utf8-validation
/test-fixed-constants
/test-initial-state
/test-label-cache
/test-mapped
/test-path
/test-pick
/test-realized
/test-rect-set-color
/test-rect-set-size
/test-show-on-set-parent
/test-timeline
/test-timeline-dup-frames
/test-timeline-interpolate
/test-timeline-rewind
/test-timeline-smoothness
/test-label-opacity
/test-mesh-contiguous
/test-mesh-interleved
/test-mesh-mutability
/test-paint-opacity
/test-rectangle-opacity
/test-binding-pool
/test-text-append-some
/test-text-cache
/test-text-cursor
/test-text-delete-chars
/test-text-delete-text
/test-text-empty
/test-text-event
/test-text-get-chars
/test-text-insert
/test-text-password-char
/test-text-prepend-some
/test-text-set-empty
/test-text-set-text
/test-text-utf8-validation
/test-list-model-iterate
/test-list-model-populate
/test-list-model-filter
/test-map-recursive
/test-realize-not-recursive
/test-shown-not-parented
/test-color-from-string
/test-color-to-string
/test-cogl-vertex-buffer-contiguous
/test-cogl-vertex-buffer-interleved
/test-cogl-vertex-buffer-mutability
/test-units-constructors
/test-units-string
/test-premult
/test-clone-no-map
/test-group-depth-sorting
/test-conformance-result.xml
/test-fixed-size
/test-preferred-size
/test-units-cache
/test-cogl-readpixels
/test-cogl-viewport
/test-texture-fbo
/test-script-single
/test-script-child
/test-list-model-from-script
/test-script-implicit-alpha
/test-script-object-property
/test-script-animation
/test-script-named-object
/test-actor-destruction
/test-color-operators
/test-cogl-texture-mipmaps
/test-behaviours
/test-cogl-sub-texture
/test-cogl-multitexture
/test-animator-base
/test-animator-properties
/test-animator-multi-properties
/test-cogl-texture-rectangle
/test-cogl-path
/test-cogl-wrap-modes
/test-clutter-cairo-texture
/test-state-base
/test-texture-pick-with-alpha
/test-cogl-object
/test-script-layout-property
/test-cogl-depth-test
/wrappers
