/* App Grid */

$app_icon_size: 96px;

// app icons
.icon-grid {
  row-spacing: $base_padding * 2;
  column-spacing: $base_padding * 2;
  max-row-spacing: $base_padding * 7;
  max-column-spacing: $base_padding * 7;
  page-padding-top: $base_padding * 4;
  page-padding-bottom: $base_padding * 4;
  page-padding-left: $base_padding * 3;
  page-padding-right: $base_padding * 3;
}

/* App Icons */

// items in the app grid and dash
.overview-tile {
  @include tile_button($system_fg_color);

  // override the %tile style
  border-radius: $base_border_radius*3;
  padding: $base_padding * 2;

  // the icon itself
  .overview-icon {
    // item with a label
    &.overview-icon-with-label {
      > StBoxLayout {
        spacing: $base_padding;
      }
    }
  }
}

// app folders
.app-folder {
  @include tile_button($system_fg_color, $flat: false);
}

// Running app indicator (also shown in dash)
.app-grid-running-dot {
  height: 5px;
  width: 5px;
  border-radius:5px;
  background-color: $system_fg_color;
  margin-bottom: 2px;
  @if $is_highcontrast {
    margin-bottom: 4px;
  }
}

// expanded folder
.app-folder-dialog {
  border-radius: $modal_radius * 4;
  background-color: $system_overlay_bg_color;

  @if $is_highcontrast {
    padding: $base_padding*2 2px $base_padding*2 2px;
    box-shadow: inset 0 0 0 2px $hc_inset_color;
  } @else {
    padding: $base_padding*2 1px $base_padding*2 1px;
    box-shadow: inset 0 0 0 1px $system_borders_color;
  }

  & .folder-name-container {
    padding: $base_padding * 4 $base_padding * 6 0;
    spacing: $base_padding * 2;

    & .folder-name-label,
    & .folder-name-entry {
      @extend %title_1;
    }

    & .folder-name-entry {
      width: 12em;
      color: $system_fg_color !important;
    }

    /* FIXME: this is to keep the label in sync with the entry */
    & .folder-name-label { padding: 5px 7px; color: $system_fg_color; }
  }

  & .icon-grid {
    row-spacing: $base_padding * 2;
    column-spacing: $base_padding * 5;
    page-padding-top: 0;
    page-padding-bottom: 0;
    page-padding-left: 0;
    page-padding-right: 0;
  }

  & .page-indicators {
    margin-bottom: 18px;
  }
}

.app-folder-dialog-container {
  padding: $base_padding * 2;
  width: 720px;
  height: 720px;
}


// Rename popup for app folders
.rename-folder-popup {
  .rename-folder-popup-item {
    spacing: $base_padding;
    &:ltr, &:rtl { padding: 0 $base_padding * 2; }
  }
}

// App Grid pagination indicators
$page_indicator_size: 10px;
.page-indicator {
  padding: $base_padding $base_padding * 2 0;
  transition-duration:400ms;

  .page-indicator-icon {
    width: $page_indicator_size;
    height: $page_indicator_size;
    border-radius: $forced_circular_radius;
    background-color: white;
    transition-duration: 400ms;
  }
}

.apps-scroll-view {
  padding: 0;
}

// shutdown and other actions in the grid
.system-action-icon {
  background-color: transparentize($system_fg_color,.9);
  color: $system_fg_color;
  border-radius: $forced_circular_radius;
  icon-size: $app_icon_size * 0.5;
  @if $is_highcontrast {
    box-shadow: inset 0 0 0 2px $hc_inset_color;
  }
}

// page navigation
.page-navigation-hint {
  &.dnd {
    background: rgba(255, 255, 255, 0.1);
  }

  &.next:ltr,
  &.previous:rtl {
    background-gradient-start: rgba(255, 255, 255, 0.05);
    background-gradient-end: transparent;
    background-gradient-direction: horizontal;
    border-radius: $modal_radius * 1.5 0px 0px $modal_radius * 1.5;
  }

  &.previous:ltr,
  &.next:rtl {
    background-gradient-start: transparent;
    background-gradient-end: rgba(255, 255, 255, 0.05);
    background-gradient-direction: horizontal;
    border-radius: 0px $modal_radius * 1.5 $modal_radius * 1.5 0px;
  }
}

.page-navigation-arrow {
  margin: $base_padding;
  padding: $base_padding * 3;
  width: $medium_icon_size;
  height: $medium_icon_size;
  border-radius: $forced_circular_radius;
  transition-duration: 100ms;

  > StIcon { color: $system_fg_color;}

  @if $is_highcontrast {
    @include button(normal, $system_fg_color, transparentize($system_bg_color, 0.5));
  }

  &:insensitive { @include button(undecorated, $system_fg_color, transparentize($system_bg_color, 0.5));}
  &:hover { @include button(hover, $system_fg_color, transparentize($system_bg_color, 0.5));}
  &:active { @include button(active, $system_fg_color, transparentize($system_bg_color, 0.5));}
}
