
/*************
 * App Icons *
 *************/
/* Outline for low res icons */
.lowres-icon {
	icon-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/* Dropshadow for large icons */
.icon-dropshadow {
	icon-shadow: 0 1px 2px rgba(0,0,0,0.4);
}



// Icon tile
.search-provider-icon,
.list-search-result {
	@extend %icon_tile;
	&:focus, &:selected, &:hover {
		background-color: transparentize($osd_fg_color,.9);
		transition-duration: 200ms;
	}
	&:active, &:checked { background-color: transparentize(darken($osd_bg_color,10%),.1); }
}
.app-well-app,
.app-well-app.app-folder,
.show-apps,
.grid-search-result {
	& .overview-icon {
		@extend %icon_tile;
	}
	&:hover .overview-icon,
	&:focus .overview-icon,
	&:selected .overview-icon {
		background-color: transparentize($osd_fg_color,.9);
		transition-duration: 0ms;
		border-image: none;
		background-image: none;
	}
	&:drop .overview-icon {
		background-color: transparentize($selected_bg_color,.15);
	}
	&:active .overview-icon,
	&:checked .overview-icon {
		background-color: transparentize(darken($osd_bg_color,10%), 0.5);
	}
}

.app-well-app-running-dot { //running apps indicator
	width: 10px; height: 3px;
	background-color: $selected_bg_color;
	margin-bottom: 2px;
}


.app-well-app.app-folder > .overview-icon {
	background-color: transparentize($osd_bg_color,.6);
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
	color: white;
	transition-duration: 100ms;
}


// Collections
.app-folder-popup { //expanded collection
	-arrow-border-radius: 8px;
	-arrow-background-color: transparentize(darken($osd_bg_color,10%), 0.5);
	-arrow-base: 24px;
	-arrow-rise: 11px;
}
.app-folder-popup-bin { padding: 5px; }
.app-folder-icon {
	padding: 5px;
	spacing-rows: 5px;
	spacing-columns: 5px;
}

.page-indicator {
	padding: 15px 20px;

	.page-indicator-icon {
		width: 12px;
		height: 12px;
		background-color: transparent;
		border: 2px solid rgba(255, 255, 255, 0.4);
		border-radius: 12px;
	}

	&:hover .page-indicator-icon { border-color: white; }
	&:active .page-indicator-icon { border: none; margin: 2px; background-color: white; }
	&:checked .page-indicator-icon,
	&:checked:active .page-indicator-icon { background-color: white;}
}

.no-frequent-applications-label { 
	font-size: 2em;
	font-weight: bold;
	color: $osd_fg_color;
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
	padding: 10px 8px 5px 8px;
	spacing: $base_spacing;
}


//Some hacks I don't even
.all-apps,
.frequent-apps > StBoxLayout {
	// horizontal padding to make sure scrollbars or dash don't overlap content
	padding: 0px 88px 10px 88px;
}