/* Date/Time Menu */

#calendarArea {
	padding:$base_padding;
	margin:0;
}

// common style
%calendar_box {
	border: 1px solid $bubble_borders_color;
	border-radius:$base_border_radius + 2px;
	background-color: lighten($bg_color, 5%);
}


.datemenu-today-button,
.datemenu-displays-box {
	margin:0;
}

.datemenu-calendar-column { spacing: 0.5em; }
.datemenu-displays-section { padding-bottom: 3em; }
.datemenu-displays-box { spacing: 1em; }

.datemenu-calendar-column {
	border: 0 solid $bubble_borders_color;
	&:ltr { border-left-width: 1px; }app_icon_size
	&:rtl { border-right-width: 1px; }
	padding: 0 12px;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title {
	border-radius: 4px;
	padding: .4em;
}

/* Calendar */
.calendar {
	@extend %calendar_box;
	margin:0;
	margin-bottom: $base_padding;
	padding:$base_padding;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title {
	&:hover, &:focus { background-color: $hover_bg_color }
	&:active { background-color: $active_bg_color }
}

.datemenu-today-button .day-label {
	font-size: $base_font_size + 1pt;
	font-weight: bold;
}

.datemenu-today-button .date-label {
	font-size: $base_font_size * 1.5;
	font-weight: 1000;
}

.calendar-month-label {
	color: lighten($fg_color,5%);
	font-weight: bold;
	padding: 8px 0;
	&:focus {}
}

.pager-button {
	background-color: transparent;
	height: 32px;
	width: 32px;
	border-radius: $base_border_radius;
	&:hover, &:focus { background-color: $hover_bg_color; }
	&:active { background-color: transparentize($fg_color, 0.84); }
}

// prev/next month icons
.calendar-change-month-back StIcon,
.calendar-change-month-forward StIcon {
	icon-size: $base_icon_size;
}

$calendar_day_size: 32px;

.calendar-day-base {
	font-size: 80%;
	text-align: center;
	width: $calendar_day_size;
	height: $calendar_day_size;
	padding: 0;
	margin: 2px;
	border-radius: $calendar_day_size * 0.5 + 2px;
	border: 1px solid transparent; //avoid jumparound due to today
	font-feature-settings: "tnum";
	&:hover, &:focus { background-color: $hover_bg_color; }
	&:active,&:selected {
		color: lighten($fg_color,10%);
		background-color: darken($bg_color,5%);
	}

	// day of week heading
	&.calendar-day-heading {
		color: lighten($fg_color,10%);
		margin-top: 1em;
		font-size: 70%;
	}
}
.calendar-day { //border collapse hack - see calendar.js
	border-width: 0;
}

.calendar-day-top {
	border-top-width: 1px;
}

.calendar-day-left { border-left-width: 1px; }
.calendar-work-day {}
.calendar-nonwork-day {
	color: $insensitive_fg_color;
}

// Today
.calendar-today {
	font-weight: bold;
	border: 1px solid transparent;
	background-color: $selected_bg_color;
	color: $selected_fg_color;

	&:hover,&:focus {
		background-color:lighten($selected_bg_color, 3%);
		color: $selected_fg_color;
	}

	&:active,&:selected {
		background-color: $selected_bg_color;
		color: $selected_fg_color;
		&:hover,&:focus {
			background-color:lighten($selected_bg_color, 3%);
			color: $selected_fg_color;
		}
	}

}
.calendar-day-with-events {
	color: lighten($fg_color,10%);
	font-weight: bold;
	background-image: url("resource:///org/gnome/shell/theme/calendar-today.svg");
}

.calendar-other-month-day {
	color: transparentize($fg_color ,0.5);
	opacity: 0.5;
}

.calendar-week-number {
	font-size: 70%;
	font-weight: bold;
	height: 1.8em;
	width: 2.3em; 
	border-radius: 2px;
	padding: 0.5em 0 0;
	margin: 6px;
	background-color: darken($bg_color, 2%);
	color: lighten($fg_color, 5%);
}


.world-clocks-button,
.weather-button {
	@extend %calendar_box;
}

/* Weather */
.weather-box {
	spacing: 0.4em;
	padding:$base_padding;
}

.weather-header.location {
	font-weight: normal;
	font-size: 0.9em;
}


/* World clocks */
.world-clocks-header,
.weather-header,
.events-section-title {
	color: darken($fg_color,40%);
	font-weight: bold;
}

.world-clocks-grid {
	padding:$base_padding;
}

.world-clocks-grid,
.weather-grid {
	spacing-rows: 0.4em;
	spacing-columns: 0.8em;
}

.world-clocks-city {
	font-weight: bold;
	font-size: 0.9em;
}

.world-clocks-time {
	color: darken($fg_color,20%);
	font-feature-settings: "tnum";
	font-size: 1.2em;
}

.world-clocks-timezone {
	color: $fg_color;
	font-feature-settings: "tnum";
	font-size: 0.9em;
}

.weather-forecast-icon {
	icon-size: $base_icon_size * 2;
}

.weather-forecast-time {
	color: darken($fg_color,40%);
	font-size: 0.8em;
}
