/* Check Boxes */

.check-box {
	StBoxLayout { spacing: .8em; }
	StBin {
		width: 24px;
		height: 22px;
		background-image: url("resource:///org/gnome/shell/theme/checkbox-off.svg");
	}
	&:focus StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox-off-focused.svg"); }
	&:checked StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox.svg"); }
	&:focus:checked StBin { background-image: url("resource:///org/gnome/shell/theme/checkbox-focused.svg"); }
}