/* Dash */

// uses system colors
$dash_background_color: $system_overlay_bg_color;

$dash_placeholder_size: 32px;
$dash_padding: $base_padding * 1.5;
$dash_edge_offset: $base_margin * 3;
$dash_border_radius: $modal_radius + $dash_padding;

// container for the dash
#dash {
  margin-top: $dash_edge_offset;

  // background behind item container
  .dash-background {
    background-color: $dash_background_color;
    border-radius: $dash_border_radius;
    padding-top: $dash_padding * 2;
    padding-bottom: $dash_padding * 2;
    padding-left: $dash_padding + 2px; // padding is uneven and needs hardcoded values
    padding-right: $dash_padding + 2px;

    @if $contrast == 'high' {
      @include draw_hc_inset($width: 2px);
    }
  }

  // items on the dash
  .dash-item-container {

    .placeholder {
      // background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
      background-image: none;
      background-size: contain;
      height: $dash_placeholder_size;
    }

    .empty-dash-drop-target {
      width: $dash_placeholder_size;
      height: $dash_placeholder_size;
    }

    .show-apps,
    .overview-tile {
      @include tile_button($bg:$dash_background_color);
      margin: $base_margin * 0.5;
      padding: $base_padding;
      border-radius: $base_border_radius * 2;}
  }

  // separator between pinned and running apps
  .dash-separator {
    width: 1px;
    margin-left:$base_margin;
    margin-right:$base_margin;
    background-color: $system_borders_color;

    @if $contrast == 'high' {
      width: 2px;
      background-color: $hc_inset_color;
    }
  }

  // make sure all dash components have same margin from screen edge
  .dash-separator,
  .dash-background,
  .dash-item-container {
    margin-bottom: $dash_edge_offset;
  }
}

// OSD Tooltip
.dash-label {
  @extend %tooltip;
  -y-offset: $base_margin * 2; // distance from the dash edge
}
