/* Modal Dialogs */

.modal-dialog {
  border-radius: $modal_radius;
  @extend %bubble_panel;

  .modal-dialog-content-box {
    margin: 32px 40px;
    spacing: 32px;
    max-width: 28em;
  }

  .modal-dialog-linked-button {
    @extend %bubble_button;
  }
}

.mount-dialog-subject {
  @include fontsize($base_font_size + 3);
}

/* End Session Dialog */

.end-session-dialog {
  width: 30em;

  .end-session-dialog-battery-warning,
  .dialog-list-title {
    color: $warning_color;
  }
}

/* Message Dialog */
.message-dialog-content {
  spacing: 18px;

  .message-dialog-title {
    text-align: center;
    font-size: 18pt;
    font-weight: 800;
  }
  .message-dialog-description { text-align: center; }
}

/* Dialog List */
.dialog-list {
  spacing: 18px;

  .dialog-list-title {
    text-align: center;
    font-weight: bold;
  }

  .dialog-list-scrollview { max-height: 200px; }
  .dialog-list-box {
    spacing: 1em;

    .dialog-list-item {
      spacing: 1em;

      .dialog-list-item-title { font-weight: bold; }
      .dialog-list-item-description {
        color: darken($fg_color,5%);
        @include fontsize($base_font_size - 1);
      }
    }
  }
}

/* Run Dialog */
.run-dialog {
  .modal-dialog-content-box {
    margin-top: 24px;
    margin-bottom: 14px;
  }
  .run-dialog-entry { width: 20em; }
  .run-dialog-description {
    @include fontsize($base_font_size - 1);
    text-align: center;
    color: darken($fg_color, 20%);
  }
}

/* Password or Authentication Dialog */

.prompt-dialog {
  //this is the width of the entire modal popup
  width: 34em;

  .message-dialog-content { spacing: $base_spacing * 4; }
  .message-dialog-title { color: lighten($fg_color,15%); }
}

.prompt-dialog-description:rtl {
  text-align: right;
}

.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em;
}

.prompt-dialog-error-label {
  @include fontsize($base_font_size - 1);
  color: $warning_color;
  padding-bottom: 8px;
}

.prompt-dialog-info-label {
  @include fontsize($base_font_size - 1);
  padding-bottom: 8px;
}

.prompt-dialog-null-label {
  @include fontsize($base_font_size - 1);
  padding-bottom: 8px;
}

.prompt-dialog-pim-box {
  spacing: 1em;
}

.prompt-dialog-grid {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.prompt-dialog-keyfiles-box {
  spacing: 1em;
}

.prompt-dialog-button.button {
  padding: 8px;
}


/* Polkit Dialog */

.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
  &:rtl {
    padding-left: 0px;
    padding-right: 10px;
  }
}

.polkit-dialog-user-root-label {
  color: $warning_color;
}

.polkit-dialog-user-icon {
  border-radius: 99px;
  background-size: contain;
  width: 48px;
  height: 48px;
}

/* Audio selection dialog */
.audio-device-selection-dialog {
  .modal-dialog-content-box { margin-bottom: 28px; }
  .audio-selection-box { spacing: 20px; }
}

.audio-selection-device {
  border: 1px solid $bubble_borders_color;
  border-radius: 12px;
  &:hover,&:focus { background-color: $hover_bg_color; }
  &:active { 
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}

.audio-selection-device-icon {
  icon-size: $base_icon_size * 4;
}

/* Access Dialog */
.access-dialog {
  spacing: 30px;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}
