/* End Session Dialog */

$end_session_dialog_width: 28em;

.end-session-dialog-battery-warning {
  width: $end_session_dialog_width;
  color: $warning_color;
}

.end-session-dialog-list {
  max-height: 200px;
}

.end-session-dialog-session-list,
.end-session-dialog-app-list {
  spacing: 1em;
}

.end-session-dialog-list-header {
  text-align: center;
  color: $warning_color;
  font-weight: bold;
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
  spacing: 1em;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
  font-weight: bold;
}

.end-session-dialog-app-list-item-description {
  color: darken($fg_color,5%);
  @include fontsize($base_font_size - 1);
}
