/* End Session Dialog */

$end_session_dialog_width: 28em;

.end-session-dialog-battery-warning {
  width: $end_session_dialog_width;
  color: $warning_color;
}

.end-session-dialog .dialog-list-title {
  color: $warning_color;
}
