/* On-screen Keyboard */

$key_bg: opacify(lighten($osd_bg_color, 9%), 1);
$default_key_bg: opacify($osd_bg_color, 1);

#keyboard {
	background-color: transparentize($osd_bg_color, 0.3);

	.page-indicator {
		padding: 4px;

		.page-indicator-icon {
				width: 6px;
				height: 6px
		}
	}
}

.key-container {
	padding: 4px;
	spacing: 4px;
}

.keyboard-key {
	background-color: $key_bg;
	border-radius: $base_border_radius;
	border: 1px solid $osd_outer_borders_color;
	color: $osd_fg_color;
	font-size: $base_font_size + 5pt;
	min-height: 1.2em;
	min-width: 1.2em;

	&:focus { @include button(focus); }
	&:hover, &:checked { background-color: lighten($key_bg, 3%); }
	&:active { background-color: darken($key_bg, 2%); }
	&:grayed { //FIXME
		background-color: $osd_bg_color;
		color: $osd_fg_color;
		border-color: $osd_borders_color;
	}

	&.default-key {
		border-color: $osd_outer_borders_color;
		background-color: $default_key_bg;
		background-size: 20px;
		&:hover, &:checked { background-color: lighten($default_key_bg, 3%); }
		&:active { background-color: darken($default_key_bg, 2%); }
	}

	// enter key is suggested-action
	&.enter-key {
		border-color: lighten($selected_bg_color, 5%);
		background-color: $selected_bg_color;
		color: $selected_fg_color;
		background-image: url("resource:///org/gnome/shell/theme/key-enter.svg");
		&:hover, &:checked { background-color: lighten($selected_bg_color, 3%); }
		&:active { background-color: darken($selected_bg_color, 2%); }
	}

	// key assets
	&.shift-key-lowercase {background-image: url("resource:///org/gnome/shell/theme/key-shift.svg");}
	&.shift-key-uppercase {background-image: url("resource:///org/gnome/shell/theme/key-shift-uppercase.svg");}
	&.shift-key-uppercase:latched {background-image: url("resource:///org/gnome/shell/theme/key-shift-latched-uppercase.svg");}
	&.hide-key {background-image: url("resource:///org/gnome/shell/theme/key-hide.svg");}
	&.layout-key {background-image: url("resource:///org/gnome/shell/theme/key-layout.svg");}
}

//long press on a key popup
.keyboard-subkeys {
	color: white;
	-arrow-border-radius: 10px;
	-arrow-background-color: transparentize($osd_bg_color, 0.3);
	-arrow-border-width: 2px;
	-arrow-border-color: $osd_outer_borders_color;
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: 5px;
}

// emoji
.emoji-page {
	.keyboard-key {
		background-color: transparent;
		border: none;
	}
}

.emoji-panel {
	.keyboard-key:latched {
		border-color: lighten($selected_bg_color, 5%);
		background-color: $selected_bg_color;
	}
}

// suggestions
.word-suggestions {
	font-size: $base_font_size + 3pt;
	spacing: 12px;
	min-height: 20pt;
}