/* On-screen Keyboard */

$key_size: 1.2em;
$key_border_radius: $base_border_radius + 3px;
$key_bg_color: lighten($bg_color, if($variant=='light', 0%, 2%));
// $default_key_bg_color: darken($key_bg_color, 4%);
$default_key_bg_color: if($variant=='light', darken($osd_bg_color, 11%), lighten($osd_bg_color, 2%));


%keyboard_key {
	background-color: $key_bg_color;
	border-radius: $key_border_radius;
	border: 1px solid if($variant=='light', darken($borders_color, 9%), darken($borders_color, 5%));
	box-shadow: inset 0 1px 0 0 $borders_edge;
	color: $osd_fg_color;

	&:focus { @include button(focus); }
	&:hover, &:checked { background-color: lighten($key_bg_color, 3%); }
	&:active { 
		border: 1px solid darken($borders_color, 20%);
		background-color: darken($key_bg_color, 2%);
		&:checked { background-color: red;}
	}
}

#keyboard {
	background-color: transparentize(if($variant=='light', darken($bg_color, 5%), darken($bg_color, 8%)), 0.1);
	box-shadow: inset 0 1px 0 0 $borders_edge;

	.page-indicator {
		padding: $base_padding;

		.page-indicator-icon {
			width: 6px;
			height: 6px
		}
	}
}

.key-container {
	padding: $base_margin;
	spacing: $base_margin;
}

.keyboard-key {
	@extend %keyboard_key;
	font-size: $base_font_size + 5pt;
	min-height: $key_size;
	min-width: $key_size;

	&:grayed { //FIXME
		background-color: $bg_color;
		color: $osd_fg_color;
		border-color: $osd_borders_color;
	}

	&.default-key {
		background-color: $default_key_bg_color;
		background-size: 20px;
		&:hover, &:checked { background-color: lighten($default_key_bg_color, 3%); }
		&:active { background-color: darken($default_key_bg_color, 2%); }
	}

	// enter key is suggested-action
	&.enter-key {
		border: 1px solid if($variant=='light', darken($selected_bg_color, 9%), lighten($selected_bg_color, 5%));
		background-color: $selected_bg_color;
		color: $selected_fg_color;
		background-image: url("resource:///org/gnome/shell/theme/key-enter.svg");
		&:hover, &:checked { background-color: lighten($selected_bg_color, 3%); }
		&:active { background-color: darken($selected_bg_color, 2%); }
	}

	// key assets
	&.shift-key-lowercase {background-image: url("resource:///org/gnome/shell/theme/key-shift.svg");}
	&.shift-key-uppercase {background-image: url("resource:///org/gnome/shell/theme/key-shift-uppercase.svg");}
	&.shift-key-uppercase:latched {background-image: url("resource:///org/gnome/shell/theme/key-shift-latched-uppercase.svg");}
	&.hide-key {background-image: url("resource:///org/gnome/shell/theme/key-hide.svg");}
	&.layout-key {background-image: url("resource:///org/gnome/shell/theme/key-layout.svg");}
}

// long press on a key popup
.keyboard-subkeys {
	color: $osd_fg_color;
	-arrow-border-radius: $modal_radius;
	-arrow-background-color: $osd_bg_color;
	-arrow-border-width: 1px;
	-arrow-border-color: lighten($osd_bg_color, 9%);
	-arrow-base: 20px;
	-arrow-rise: 10px;
	-boxpointer-gap: $base_spacing;

	.keyboard-key {
		@extend %keyboard_key;
		border-radius:$base_border_radius;
	}
}

// emoji
.emoji-page {
	.keyboard-key {
		background-color: transparent;
		border: none;
		color: initial;
	}
}

.emoji-panel {
	.keyboard-key:latched {
		border-color: lighten($selected_bg_color, 5%);
		background-color: $selected_bg_color;
	}
}

// suggestions
.word-suggestions {
	font-size: $base_font_size + 3pt;
	spacing: 12px;
	min-height: 20pt;
}