/* Message List */


// common style
%message_box {
	border: 1px solid $bubble_borders_color;
	border-radius:$base_border_radius + 2px;
	background-color: lighten($bg_color, 5%);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	padding: $base_padding;
	margin: $base_margin;

	&:hover,&:focus {
		background-color: $hover_bg_color;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
		margin-top: $base_margin - 1px;
		margin-bottom: $base_margin + 1px;
	}
	&:active { background-color: transparentize($fg_color, 0.84) }
}

// main list
.message-list {
	width: 31.5em;
	padding: $base_padding * 2;
}

.message-list-sections {
	margin:0;
	spacing: $base_spacing;
}

.message-list-section,
.message-list-section-list {
	spacing: $base_spacing;
}

.message-list-section-list {
	&:ltr {padding:0;}
	&:rtl {padding:0;}
}

// clear button
.message-list-clear-button {
	.button {
		@extend %button;
	}
}

// message list item
.message {
	@extend %message_box;
}

.message-icon-bin {
	padding: 0.68em 0.2em 0.68em 0.68em;
	&:rtl { padding: 0.68em 0.68em 0.68em 0.2em; }
}

.message-icon-bin > StIcon {
	color: $fg_color;
	icon-size: $base_icon_size * 2;
	-st-icon-style: symbolic;

	margin:$base_margin;
}

.message-icon-bin > .fallback-window-icon {
	width: $base_icon_size;
	height: $base_icon_size;
}

.message-secondary-bin {
	padding: 0 0.82em;;
}

.message-secondary-bin > .event-time {
	color: $fg_color;
	font-size: 80%;
	text-align: right;
	/* HACK: the label should be baseline-aligned with a 1em label, fake this with some bottom padding */
	padding-bottom: 0.13em;
}

.message-secondary-bin > StIcon {
	icon-size: $base_icon_size;
}

// title
.message-title {
	color: $fg_color;
	font-weight: bold;
}

.message-content {
	color: darken($fg_color, 10%);
	padding: 10px;
}

/* Media Controls */
.message-media-control {
	padding: $base_padding * 2;
	color: lighten($fg_color, 15%);

	&:last-child:ltr { padding-right: $base_padding * 3; }
	&:last-child:rtl { padding-left: $base_padding * 3; }
	&:hover { color: $fg_color; }
	&:insensitive { color: darken($fg_color,40%); }
}

// album-art
.media-message-cover-icon {
	icon-size: 48px !important;
	&.fallback {
		color: darken($fg_color, 10%);
		background-color: $bg_color;
		border: 1px solid $bg_color;
		border-radius: 2px;
		icon-size: 32px !important;
		padding: $base_padding;
	}
}