/* Notifications & Message Tray */

// container for popup notifications
#notification-container {
  width: 34em;
  padding: $base_margin;
}

// Banner notifications
.notification-banner {
  box-shadow: 0 2px 4px 2px $shadow_color;
  border-radius: $base_border_radius*1.5;

  .notification-actions {}

  .notification-button {
    @extend %bubble_button;
  }
}

// chat bubbles
.chat-body { spacing: 5px; }
.chat-response { margin: 5px; }
.chat-log-message { color: darken($fg_color,10%); }
.chat-new-group { padding-top: 1em; }
.chat-received {
  padding-left: 4px;
  &:rtl { padding-left: 0px; padding-right: 4px; }
}

.chat-sent {
  padding-left: 18pt;
  color: lighten($fg_color, 15%);
  &:rtl { padding-left: 0; padding-right: 18pt; }
}

.chat-meta-message {
  padding-left: 4px;
  @include fontsize($base_font_size - 2);
  font-weight: bold;
  color: lighten($fg_color,18%);
  &:rtl { padding-left: 0; padding-right: 4px; }
}
