
/* OSD */
.osd-window {
	@extend %osd_panel;
	text-align: center;
	font-weight: bold;
	spacing: 1em;
	margin: 32px;
	min-width: 64px;
	min-height: 64px;

	.osd-monitor-label { font-size: 3em; }
	.level {
		height: 0.6em;
		-barlevel-height: 0.6em;
		-barlevel-background-color: transparentize($fg_color, if($variant=='light', 0.2, 0.9));
		-barlevel-active-background-color: $osd_fg_color;
		-barlevel-overdrive-color: $destructive_color;
		-barlevel-overdrive-separator-width: 0.2em;
	}
}

/* Pad OSD */
.pad-osd-window {
	padding: 32px;
	background-color: transparentize(black, 0.2);

	.pad-osd-title-box { spacing: 12px; }
	.pad-osd-title-menu-box { spacing: 6px; }
}

.combo-box-label {
	width: 15em;
}

.resize-popup{
	@extend %osd_panel;
}