.quick-settings {
  padding: 4 * $base_padding;
}

.quick-settings-grid {
  spacing-rows: 3 * $base_padding;
  spacing-columns: 2 * $base_padding;
}

.quick-toggle {
  border-radius: 99px;
  min-width: 11.5em;
  max-width: 11.5em;
  min-height: 48px;

  &:checked { @include button(default); }

  & > StBoxLayout { spacing: $base_padding; }

  .quick-toggle-label { font-weight: bold; }
  .quick-toggle-icon { icon-size: $base_icon_size; }
}

.quick-toggle-menu {
  @include card();
  padding: 1.5 * $base_padding;

  & .header {
    spacing-rows: 0.5 * $base_padding;
    spacing-columns: $base_padding;
    padding-bottom: 2 * $base_padding;

    & .icon {
      icon-size: $large_icon_size;
      border-radius: 999px;
      padding: 1.5 * $base_padding;
      background-color: lighten($bg_color, 10%);
    }

    & .title {
      @extend %title_3;
    }

    & .subtitle {
      @extend %caption_heading;
    }
  }
}

.quick-toggle-menu-container {
  padding: 2 * $base_padding $base_padding 0;
 }
