/* Scrollbars */

StScrollView {
  &.vfade { -st-vfade-offset: 68px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: 14px;
    min-height: 14px;
  }

  StBin#trough {
    border-radius: 0;
    background-color: transparent;
  }

  StButton#vhandle, StButton#hhandle {
    $_tc: $fg_color;
    $_bg: $bg_color;
    border-radius: 8px;
    background-color: mix($_tc, $_bg, 60%);
    //border: 3px solid transparent; //would be nice to margin or at least to transparent
    margin: 3px;
    &:hover { background-color: mix($_tc, $_bg, 80%); }
    &:active { background-color: $selected_bg_color; }
  }
}