// Screenshot UI
.icon-label-button-container {
  spacing: $base_spacing;
  font-size: $base_font_size - 3pt;

  StIcon {
    icon-size: 32px;
  }
}

.screenshot-ui-panel {
  background-color: $osd_bg_color;
  border-radius: 12px + 21px;
  padding: 18px;
  padding-bottom: 18px - 6px;
  margin-bottom: $base_margin * 8;
  spacing: $base_padding * 2;
}

.screenshot-ui-close-button {
  background-color: $osd_bg_color;
  border-radius: 99px;
  width: 64px;
  height: 64px;
  margin: 64px;

  &:hover, &:focus { background-color: $hover_bg_color; }
  &:active { background-color: $active_bg_color; }
  &:checked { background-color: darken($osd_bg_color, 5%); }

  StIcon {
    icon-size: $base_icon_size * 2;
  }
}
