// Search entry

$search_entry_width: 320px;

%search_entry,
.search-entry {
	width: $search_entry_width;
	padding: 7px 9px;
	border-radius: 18px;
	color: transparentize($fg_color,0.3);
	background-color: $bg_color;
	border-color: $borders_color;
	box-shadow: inset 0 1px 2px 1px rgba(0,0,0,0.2);

	&:hover {
		background-color: $hover_bg_color;
		border-color: $hover_borders_color;
		color: $hover_fg_color;
	}

	&:focus {
		padding: 6px 8px;
		border-width: 2px;
		color: $fg_color;
		border-color: $selected_bg_color;
	}

	.search-entry-icon { 
		icon-size: $base_icon_size;
		padding: 0 4px;
		color: inherit;
	}
}