// Search entry
.search-entry {
  border-radius: 99px;
  margin-top: $base_padding*2;
  margin-bottom: $base_padding;
  width: 24em;

  @extend %system_entry;

  // %system_entry style override as to not have neutral focus color
  &:focus { @include entry(focus, $c:$system_fg_color, $fc:$selected_bg_color);}

  .search-entry-icon {
    icon-size: $base_icon_size;
    margin-top: 2px; // center vertically
    padding: 0 4px;
  }
}
