//search results

#searchResultsContent {
	max-width: 1000px;
	padding: $base_padding;
	spacing: 0;
}

.search-section {
	// background-color: red;
	padding:$base_padding;
	spacing: 0;  // This should be equal to #searchResultsContent spacing
}

.search-section-content {
	background-color: lighten($osd_bg_color, 5%);
	border-radius: $base_radius * 3;
	border: 1px solid $osd_outer_borders_color;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
	color: $osd_fg_color;
	text-shadow: 1px rgba(0,0,0,0.3);
	padding: $base_padding;
	spacing: 0; // This is the space between the provider icon and the results container
}

.search-statustext { // "no results"
	font-size: 2em;
	font-weight: bold;
	color: $osd_fg_color;
}

.search-section-separator { 
	// height: 2px; background-color: rgba(255, 255, 255, 0.2);
	height: 0px; 
	background-color: rgba(255, 255, 255, 0);
}

.search-section:last-child .search-section-separator { background-color: transparent; }

// Search results
.list-search-results {
	spacing: $base_spacing;
}

.list-search-result-content {
	spacing: 0;
}

.list-search-result-title {
	color: darken($osd_fg_color,5%);
	spacing: 12px;
	padding-right: $base_padding;
}

.list-search-result-description {
	color: darken($osd_fg_color, 30%);
}

.list-search-provider-details {
	width: 150px;
	color: darken($osd_fg_color,5%);
	margin-top: $base_margin;
}

.list-search-provider-content {
	spacing: 20px;
}

.search-provider-icon {
	padding: $base_padding;
}