/* Search */

// search overview container
#searchResults {
  margin: 0 $base_margin;

  #searchResultsContent {
    max-width: 1044px; // exactly the width of 6 app results (896px for 5)
  }
}

// search results sections "the boxes"
.search-section {
  .search-section-content {}

  // unstyled, used as whitespace
  .search-section-separator {
    height: 24px;
  }
}

// Search results with icons
.grid-search-results {
  spacing: $base_padding*5;

  .grid-search-result {
    @extend .app-well-app;
  }
}

// search result provider
.search-provider-info {

  @include tile_button($osd_insensitive_fg_color);
  color: $osd_insensitive_fg_color;

  -st-icon-style: symbolic;

  .list-search-provider-content {
    spacing: $base_padding;
  }

  .list-search-provider-title {
    @extend %heading;
  }
}

// search results list
.list-search-results {
  @extend %osd_panel;
  margin: $base_margin*2 0;

  .list-search-result {
    @include tile_button($osd_fg_color);

    .list-search-result-content {
      spacing: $base_padding;
    }

    .list-search-result-title {
      spacing: $base_padding * 2;
    }

    .list-search-result-description {
      color: $osd_insensitive_fg_color;
    }
  }
}

// "no results" text
.search-statustext {
  @extend %title_1;
  color: $osd_insensitive_fg_color;
}
