/* Slider */

.slider {
	height: 1em;
	-barlevel-height: 0.3em;
	-barlevel-background-color: transparentize($fg_color, 0.9); //background of the trough
	-barlevel-border-color: $borders_color; //trough border color
	-barlevel-active-background-color: $selected_bg_color; //active trough fill
	-barlevel-active-border-color: $selected_borders_color; //active trough border
	-barlevel-overdrive-color: $destructive_color;
	-barlevel-overdrive-border-color: darken($destructive_color,10%);
	-barlevel-overdrive-separator-width: 0.2em;
	-barlevel-border-width: 1px;
	-slider-handle-radius: 8px;
	-slider-handle-border-width: 1px;
	-slider-handle-border-color: $borders_color;
	color: if($variant == 'light', lighten($bg_color, 10%), darken($bg_color,4%));
	&:hover { color: $_hover_bg_color; }
	&:active { color: $_active_bg_color; }
}