body {
     margin:0px 0px 0px 0px;
     background:#eee;
}

A         { color: #111; text-decoration: underline; }
A:link	    { color: #111; text-decoration: none; }
A:visited { color: #111; text-decoration: none; }
A:active  { color: #111;  }
A:hover	    { color: #111; text-decoration: underline; }

h1, h2, h3, h4 {
   margin: 3px 0px;
   padding: 0px;
   color: #594051;							    
}

#logo {
   border-bottom: 4px solid #000;
}

#container {
   width: 546px;
   max-width: 546px;
   margin: 20px auto;
   border: 4px solid #000;

   font-family:verdana, arial, sans-serif;
   color:#555;
   font-size:12px;
   font-weight:normal;
   line-height:200%;

   background:#fff;	
}

#content {
   padding: 20px;
}

#footer {
   font-family:verdana, arial, sans-serif;
   color:#777;
   font-size:9px;
}